# fichiers compilés Python
*.pyc
*.zip
*.tar 
*.lock

# Directories temporary to ignore
/tmp/
*.tmp

# Directories and files to ignore
/data/
*.csv

# Ignore log files
/logs/
*.log

/.*/

# Context files - optionnel
session-context.md

# Métadonnées de packaging
*.egg-info/
build/
dist/
__pycache__/
.tox/
